<img src="images/Peoplelogy-Logo.png" height=100 align=left>
<img src="images/python-logo.png" height=100 align=right>

### Jupyter short keys

These are the most common used short keys:

- Esc + a -- Open a new cell above
- Esc + b -- Open a new cell below
- Shift + Enter -- Run the cell, and go to next one
- Ctrl + Enter -- Run the cell and stay there
- Alt + Enter -- Run the cell, and make a new one (Option-key for Mac)
- Ctrl + / -- Comment or Uncomment your selection
- Esc + m -- Change cell type into Markdown (text modus). Then run again with Crtl+Enter
- Esc + y -- Change cell type into Code (code modus). Then run again with Crtl+Enter

Let's try them out and get familiar.


<img src="images/Data_Cleaning.png"  align=left>

## **Project Overview: Customer Data Cleaning, Analysis, and Visualization**

In this project, you will work with a customer dataset and perform various **data cleaning**, **analysis**, and **visualization** tasks. The goal is to clean and standardize the data, conduct basic analysis, and visualize key trends and relationships in the data.

### **Objectives**:
- **Data Cleaning**: Handle missing values, standardize columns, fix inconsistencies, and remove duplicates.
- **Data Analysis**: Perform basic calculations such as total revenue and find insights from the dataset (e.g., average customer age).
- **Data Visualization**: Create visualizations using Seaborn to explore trends and relationships between different variables.

### **Dataset Overview**:
The dataset contains customer information with the following key columns:
- `CustomerID`: Unique identifier for each customer.
- `Name`: Name of the customer.
- `Phone_Number`: Contact number of the customer (may contain inconsistencies).
- `Email`: Email address of the customer (may contain missing values).
- `Department`: The department where the customer is associated.
- `Experience`: Number of years of experience of the customer.
- `Age`: Age of the customer (may contain unrealistic values).
- `Registration_Date`: Date when the customer registered (may have inconsistent formats).
- `Customer_Type`: Type of customer (e.g., Individual, VIP) with potential typos.
- `Total_Purchases`: Number of purchases made by the customer (may contain missing values).
- `Last_Purchase_Amount`: Amount spent on the last purchase (may contain dollar signs and commas).
- `Feedback_Score`: Customer feedback score on a scale of 1-10 (may contain missing values).
- `Gender`: Gender of the customer (may contain inconsistent values).

### **Project Structure**:

1. **Data Cleaning Tasks**:  
   You will handle missing data, standardize columns, remove duplicates, and correct inconsistencies in various columns such as `Phone_Number`, `Gender`, `Customer_Type`, and `Last_Purchase_Amount`.

2. **Data Analysis**:  
   Perform analysis tasks such as calculating total revenue per customer and determining the average age of high-satisfaction customers.

3. **Data Visualization**:  
   Create visualizations to explore trends in the dataset, such as the distribution of customer ages, the relationship between age and total purchases, and the average number of purchases by customer type.

---

### **Instructions**:
- Each question is structured step by step. Follow the instructions for each task and write your code in the provided cells.
- Be sure to run each cell after writing your solution.
- For visualization tasks, use **Seaborn** and **Matplotlib** to create the required plots.

---

### **Good Luck!**

This project will give you practical experience with data cleaning, analysis, and visualization in Python. You will learn how to handle real-world messy data and extract meaningful insights from it.

### Notes data store
1) df data asal load data
2) df1 = already remove Duplicated ( SO now im at this step ) 
3) df2
4) df3
5) df4
6) df5
7) df_cleaned make a save excel file
8) using df_cleaned make a cluster and visualization (Analysis) - ready for analysis using this store

### Import the necessary packages

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

## **Initial Data Exploration and Understanding**

Before jumping into the data cleaning tasks, itâ€™s important to load the dataset, explore its structure, and identify any initial issues.

---

### **Question 0.1: Load the Dataset**

- Load the CSV file into a pandas DataFrame and inspect the first few rows to get an initial understanding of the data.
`CSV Name: Call_List.csv`

In [2]:
#Your code here
df = pd.read_csv('data/Call_List.csv')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Age,Email,Total_Purchases,Last_Purchase_Amount,Gender,Feedback_Score,Registration_Date
0,1001,Frodo,Baggins,123-545-5421,56,frodo.baggins@example.com,5.0,$100.50,M,8.0,03/16/2021
1,1002,Abed,Nadir,123/643/9775,46,abed.nadir@example.com,3.0,75,F,9.0,01/21/2020
2,1003,Walter,/White,7066950392,32,walter./white@example.com,7.0,$250.00,Male,6.0,08/13/2021
3,1004,Dwight,Schrute,123-543-2345,60,dwight.schrute@example.com,NaN,NaN,Female,NaN,10/04/2019
4,1005,Jon,Snow,876|678|3469,25,jon.snow@example.com,10.0,$500,F,7.0,04/04/2020

In [ ]:
#Your Code here

### **Question 0.2: Check Dataset Information**

- Use the `.info()` method to check the basic information about the DataFrame, including the column names, non-null counts, and data types.

In [3]:
#Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            21 non-null     int64
 1   First_Name            21 non-null     object
 2   Last_Name             20 non-null     object
 3   Phone_Number          19 non-null     object
 4   Age                   21 non-null     int64
 5   Email                 21 non-null     object
 6   Total_Purchases       17 non-null     float64
 7   Last_Purchase_Amount  17 non-null     object
 8   Gender                21 non-null     object
 9   Feedback_Score        17 non-null     float64
 10  Registration_Date     21 non-null     object
dtypes: float64(2), int64(2), object(7)
memory usage: 1.9+ KB

### **Question 0.3: Describe the Dataset**

- Use the `.describe()` method to generate descriptive statistics that summarize the central tendency, dispersion, and shape of the dataset's distribution.

In [5]:
#Your code here
df.describe()

        CustomerID        Age  Total_Purchases  Feedback_Score
count    21.000000  21.000000        17.000000       17.000000
mean   1010.952381  41.142857         6.705882        7.176471
std       6.127611  12.865791         4.426690        2.007339
min    1001.000000  19.000000         0.000000        3.000000
25%    1006.000000  32.000000         3.000000        6.000000
50%    1011.000000  41.000000         6.000000        7.000000
75%    1016.000000  53.000000        10.000000        9.000000
max    1020.000000  61.000000        15.000000       10.000000

### **Question 0.4: List the Column Names**

- Check the column names in the DataFrame. Are there any columns names that seem unnecessary, incomplete, or that need fixing?

```python
# List column names
df.columns

In [6]:
#Your code here
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Age', 'Email',
       'Total_Purchases', 'Last_Purchase_Amount', 'Gender', 'Feedback_Score',
       'Registration_Date'],
      dtype='object')

### **Question 0.5: Identify Issues with the Data**

- Based on the `.info()` and `.describe()` output, and by looking at the first few rows of the dataset, try to identify potential issues such as:
  - Missing values
  - Inconsistent data formats
  - Incorrect data types
  - Any columns that may have typos or unnecessary data

### **Question 0.6: Identify the Number of Missing Values**

- Use the `.isna().sum()` method to check how many missing values exist in each column of the DataFrame.

```python
# Check for missing values in each column
df.isna().sum()

In [8]:
#Your code here
df.isna().sum()

CustomerID              0
First_Name              0
Last_Name               1
Phone_Number            2
Age                     0
Email                   0
Total_Purchases         4
Last_Purchase_Amount    4
Gender                  0
Feedback_Score          4
Registration_Date       0
dtype: int64

## **Data Cleaning Tasks**

### **Question 1: Remove Duplicate Records**

- Remove any duplicate rows from the dataset.

**Hint:** You can use the  `.drop_duplicates` method

In [23]:
customer_duplicates = df['CustomerID'].duplicated()
print(customer_duplicates.sum())  # This will give the number of duplicate CustomerID values

1

In [28]:
df_1 = df.drop_duplicates(subset=['CustomerID'])
df_1.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Age,Email,Total_Purchases,Last_Purchase_Amount,Gender,Feedback_Score,Registration_Date
0,1001,Frodo,Baggins,123-545-5421,56,frodo.baggins@example.com,5.0,$100.50,M,8.0,03/16/2021
1,1002,Abed,Nadir,123/643/9775,46,abed.nadir@example.com,3.0,75,F,9.0,01/21/2020
2,1003,Walter,/White,7066950392,32,walter./white@example.com,7.0,$250.00,Male,6.0,08/13/2021
3,1004,Dwight,Schrute,123-543-2345,60,dwight.schrute@example.com,NaN,NaN,Female,NaN,10/04/2019
4,1005,Jon,Snow,876|678|3469,25,jon.snow@example.com,10.0,$500,F,7.0,04/04/2020

### **Question 2: Fix Phone Numbers**

- Standardize the `Phone_Number` column by removing special characters (like `-`, `/`, `|`) and ensuring all phone numbers have a uniform format.

In [ ]:
#Your code Here

### **Question 3: Handle Missing Data**

- Identify and handle missing values in the following columns using the functions mentioned below:
  - `Email`: Fill missing values with 'unknown'. *(Hint: Use `.fillna()` function)*
  - `Registration_Date`: Drop rows where the registration date is missing. *(Hint: Use `.dropna()` function with `subset`)*
  - `Total_Purchases`: Fill missing values with 0. *(Hint: Use `.fillna()` function)*
  - `Feedback_Score`: Fill missing values with the mean of the column. *(Hint: Use `.fillna()` with `df['Feedback_Score'].mean()`)*
  
```python
# Drop Rows
df = df.dropna(subset=['Registration_Date'])

In [ ]:
#Your code here

### **Question 4: Correct Last Purchase Amount**

- In the `Last_Purchase_Amount` column, remove dollar signs (`$`) and commas, and convert the values to numeric.

In [ ]:
#Your Code here

### **Question 5: Standardize Gender**

- Clean the `Gender` column to ensure consistent values:
  - Convert `'M'` or `'Male'` to `'Male'`
  - Convert `'F'` or `'Female'` to `'Female'`
  - Combine any other values (e.g., `'Other'`, `'Unknown'`) into `'Other'`.
  - *(Hint: Use the `.replace()` method to standardize the values)*

In [ ]:
#Your code here

### **Question 6: Fix Typos in Customer Type**

- Clean the `Customer_Type` column by correcting typos:
  - Replace any occurrence of `'Indvidual'` with `'Individual'`.
 - *(Hint: Use the `.replace()` method to correct the typos)*

In [ ]:
#Your code

### **Question 7: Convert Registration Date to Uniform Format**

- Convert the `Registration_Date` column to a uniform date format (`YYYY-MM-DD`):
  - *(Hint: Use the `pd.to_datetime()` function to handle different date formats)*
  - Handle any parsing errors gracefully using the `errors` parameter.

In [ ]:
#Your code here

### **Question 8: Create Age Groups**

- Create a new column called `Age_Group` that classifies customers into the following groups:
  - `Under 18`
  - `18-30`
  - `31-50`
  - `51+`
  - *(Hint: Use the `pd.cut(column, bins=[0,18,30,50,np.inf], labels =['Under 18', '18-30','31-50','51+'])` function to bin the ages into groups)*

In [ ]:
# Your code here

### **Question 9: Filter VIP Customers**

- Filter the dataset to display only the customers who are marked as `VIP` and have made more than 5 `Total_Purchases`.
  - *(Hint: Use boolean indexing  OR `.loc` with conditions to filter the rows)*

In [ ]:
# Your Code here

### **Question 10: Create Customer Satisfaction Column(Optional)**

- Based on the `Feedback_Score` column, create a new column called `Satisfaction_Level`:
  - `'High'` if the score is 8 or above
  - `'Medium'` if the score is between 5 and 7
  - `'Low'` if the score is below 5
  - *(Hint: Use `pd.cut()` or `np.where()` to create the new column)*

```python
# Create Satisfaction_Level column based on Feedback_Score
df['Satisfaction_Level'] = pd.cut(df['Feedback_Score'], bins=[-np.inf, 5, 8, np.inf], labels=['Low', 'Medium', 'High'])

In [ ]:
#Your code here

### **Question 11: Calculate Total Revenue per Customer**

- Create a new column called `Total_Revenue` by multiplying `Total_Purchases` with `Last_Purchase_Amount` for each customer.
  - *(Hint: Make sure to convert `Last_Purchase_Amount` to numeric before performing the calculation)*
  - *(Hint: You can use `pd.to_numeric()`)*

In [ ]:
# Your Code here

### **Question 12: Find Average Age of High-Satisfaction Customers**

- Calculate the average age of customers who have a `Satisfaction_Level` of `'High'`.
  - *(Hint: Use boolean indexing to filter rows based on the condition and then calculate the average)*

In [ ]:
# Your code here

### **Question 13: Plot Age Distribution**

- Create a histogram or KDE plot to visualize the distribution of customer ages.
  - *(Hint: Use `sns.histplot()` or `sns.kdeplot()` from Seaborn to create the plot)*

```python
sns.histplot(column, kde=True)

In [ ]:
#Your code here

### **Question 14: Total Purchases by Customer Type**

- Create a bar chart that shows the average `Total_Purchases` for each `Customer_Type`.
  - *(Hint: Use `sns.barplot()` with `estimator='mean'` from Seaborn to create the bar chart)*

In [ ]:
#Your code here

### **Question 15: Scatter Plot of Age vs. Total Purchases**

- Create a scatter plot to visualize the relationship between `Age` and `Total_Purchases`.
  - *(Hint: Use `sns.scatterplot()` from Seaborn to create the scatter plot)*

In [ ]:
# Your Code here

### **Question 16: Total Revenue by Customer Type**

- Create a bar chart to compare the `Total_Revenue` for each `Customer_Type`.
  - *(Hint: Use `sns.barplot()` from Seaborn to create the bar chart)*

In [ ]:
# your code here

### **Question 17: Trend of Average Feedback Score Over Time**

- Using the `Registration_Date`, create a line plot to show how the average `Feedback_Score` has changed over time.
  - *(Hint: Use `sns.relplot()` with `kind="line"` from Seaborn and group by `Registration_Date`, by taking mean of `Feedback_SCORE`)*

In [ ]:
# Your Code here

### **Question: Clean the Email Column(Optional)**

- The `Email` column may contain invalid formats, such as:
  - Multiple dots in a row (e.g., `john..doe@example.com`).
  - Missing domain parts (e.g., `john.doe@`).
  - Non-standard characters.
- Clean the `Email` column to ensure:
  - No consecutive dots (`..`).
  - Proper format with `@` and a domain name.
  - Remove invalid emails or replace them with `NaN`.
  - *(Hint: Use string methods like `.str.replace()` and a regular expression to check email format)*

In [ ]:
# Your code here

## **Project Summary**

### 1. **Initial Data Exploration**:
   - Load the dataset and explore its structure.
   - Use functions like `.info()`, `.describe()`, and `.head()` to get insights into the data.
   - Identify potential issues with missing values, inconsistent formats, and incorrect data types.

### 2. **Data Cleaning Tasks**:
   - Remove duplicate records to ensure data accuracy.
   - Fix phone numbers by standardizing their format.
   - Handle missing data by filling in appropriate values or dropping rows.
   - Standardize columns like `Gender` and `Customer_Type` to ensure consistency.
   - Convert the `Registration_Date` column into a uniform date format.
   - Create age groups by binning the `Age` column into predefined categories.

### 3. **Data Analysis**:
   - Calculate total revenue per customer by multiplying `Total_Purchases` with `Last_Purchase_Amount`.
   - Filter VIP customers who have made more than 5 purchases.
   - Create a new `Satisfaction_Level` column based on the `Feedback_Score` (Low, Medium, High).
   - Find the average age of customers with a high satisfaction level.

### 4. **Data Visualization**:
   - Use Seaborn to create various plots:
     - **Histogram/KDE** to visualize the distribution of customer ages.
     - **Bar plot** to compare total purchases and revenue across customer types.
     - **Scatter plot** to analyze the relationship between age and total purchases.
     - **Line plot** (using `relplot`) to show the trend of average feedback scores over time.

---

This project covers a comprehensive range of **data cleaning**, **analysis**, and **visualization** tasks, giving you hands-on experience with real-world data handling and reporting.